@media screen and (max-width: 480px) {
   body {
       background-color: lightgreen;
   }
}
@media screen and (min-width: 481px) and (max-width: 1200px) {
   body {
       background-color: deepskyblue;
   }
}
@media screen and (min-width:1201px) {
   body {
       background-color: darksalmon;
   }
}

#container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}

.album_image {
	width: 30%;
 	display: inline-block;
	img {
		width: 100%;
	}
}