$font: sans-serif;
$nav_bg: blue;

* {
	font-family: $font;
}

#nav {
	background-color: $nav_bg;

 ul {
 	display: block;
 	list-style-type: none;
 	margin: 0;
    padding: 0;
    list-style: none;
 	}

 li {
	list-style-type: none;
 	}

 a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
	}

}
